<div class="custom-modal">
  <div class="modal-header">
    <span class="close" (click)="close()">x</span>
  </div>
  <div class="modal-body">
    <form [formGroup]="beverageForm" (submit)="submit()">
      <div class="modal-content">
        <div class="row">
          <div class="col1">Name</div>
          <div class="col2">
            <input type="text" formControlName="customer" [ngClass]="{'form-submitted': isSubmitted}">
          </div>
        </div>
        <div class="row">
          <div class="col1">Beverage</div>
          <div class="col2">
            <select name="" id="" formControlName="beverage" [ngClass]="{'form-submitted': isSubmitted}">
              <option *ngFor="let item of beveragesMenu" [ngValue]="item">{{item.Name}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col1"></div>
          <div class="col2">
            <button class="submit" type="submit">SUBMIT</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">

  </div>
</div>