<div class="beverages-queueList">
  <div class="beverage-inTheQueue">
    <p class="beverage-inTheQueueTitle">IN THE QUEUE</p>
    <app-beverage-inthequeue state="1"></app-beverage-inthequeue>
  </div>
  <div class="beverage-beingMixed">
    <p class="beverage-beingMixedTitle">BEING MIXED</p>
    <app-beverage-inthequeue state="2"></app-beverage-inthequeue>
  </div>
  <div class="beverage-readyToCollect">
    <p class="beverage-readyToCollectTitle">READY TO COLLECT</p>
    <app-beverage-inthequeue state="3"></app-beverage-inthequeue>
  </div>
</div>