/* You can add global styles to this file, and also import other style files */
* {
    padding: 0px;
    margin: 0px;
}
html, body {
    background-color: rgb(28, 40, 48);
    color: #fff;
}

app-custom-modal {
    position: absolute;
    top: 2%;
    left: 50%;
    margin: auto;
    margin-left: -165px;
    border-radius: 5px;
    padding: 5px;
    display: none;
}
